body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    line-height: 1;
}

.highlight1{
    color: #ff8367;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%
}

.half-width img{
    width: 100%;
}
.link-button1{
    text-decoration: none;
    background-image: linear-gradient(70deg, #f56360, #514cd285);
    padding: 18px 50px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}

.link-button2{
    text-decoration: none;
    background-image: linear-gradient(120deg, #f19706, #f56060);
    padding: 18px 50px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}

.half-width p{
    margin-top: -44px;
    margin-bottom: 44px;
}

section {
    height: 500px;
    padding-bottom: 40px;

}
.full-width{
    text-align: center;
}
#project{
    background-color: #F8F9FC;
    padding-top: 30px;
    height: 772px;
}

.highlight2{
    color: #f46060;
}
.third{
    width: 25%;
    box-shadow: 0px 6px 20px rgb(210 200 200);
    border-radius: 20px;
    height: 43%;
    padding: 18px;
    margin-right: 25px;
    float: left;
    background-color: white;

}

.third img {
    width: 100%;
}

h2{
    color: #363958;
}

.third p{
    color: dimgray;
    line-height: 28px;
    margin-top: -6px;
}

#project-margin-left{
    margin-left: 7%;
}

.quiry img {
    width: 906px;
    height: 225px;
    padding-top: 104px;
    margin: 0px 221px;

}

#work-text{
    position: absolute;
    top: 2036px;
    left: 293px;
    font-family: 'Bebas Neue', cursive;
    font-size: 67px;
    color: white;
}

#chat{
    position: absolute;
    top: 2114px;
    left: 907px;
    text-decoration: none;
    background-image:linear-gradient(166deg, #3F51B5, #2bc6ce);
    padding: 21px 31px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}


#expert{
    margin-top: -150px;
    margin-bottom: 60px;
}
#exp{
    text-align: center;
    background: linear-gradient(180deg, #223bca, #11a6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 90%;
}
#graphics{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, #7affb5, #25b1aa);
    border-image-slice: 1;
    padding-right: 5px;
}
#dev{
    border-left: 7px solid;
    border-image: linear-gradient(150deg, rgb(11, 167, 146), rgb(58, 133, 204));
    border-image-slice: 1;
    padding-right: 5px;
}

#graphics h3 {
    margin-bottom: 58px;
}
#graphics h2{
    font-size: 30px;
}

#dev h3 {
    margin-bottom: 58px;
}

#dev h2{
    font-size: 30px;
}

footer p{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 12px;
}

#highlight3{
    color:#c70f4cea
}